body {
  font-family: 'Raleway', sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

a {
  color: whitesmoke
}



/* navbar*/
.nav-wrapper {
  background-color: #263238;
  border-bottom: #c20404 4px solid;
}

.sidenav,
.sidenav li>a {
  background-color: #263238;
  color: #fff;
}

/* register.html/login.html */

.background-register-login {
  border-bottom: #c20404 4px solid;
  background-color: #263238;
  background: url("../images/table_with_food_top_view_900x700.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 81vh;
}

.icon-color {
  color: #263238
}

.form-position {
  margin-top: 4.75rem;
}


/* footer  */

.footer-bg {
  background-color: #263238;
  border-bottom: #c20404 4px solid;
  margin-top: -20px;
}


/* flashes */

.flashes {
  z-index: 2;
  position: fixed;
  background-color: #263238;
  border-radius: 10%;
  border: #c20404 2px solid;
  color: white;
  text-align: center;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px 17.5px;
  margin-top: 17.5px;
}



/* add recipe.html */

.background-add-recipe {
  border-bottom: #c20404 4px solid;
  background-color: #263238;
  background: url("../images/asian-food-background-various-cooking-ingredients-rustic-background-top-view-banner-concept-chinese-thai.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 81vh;
}

.form-border {
  border:#c20404 4px solid;
  
}

/* add recipe.html */

.recipe-row {
  padding: 10px;
  border-radius: 0.5rem;
}

.recipe-card-content {
  display: flex;
  flex-direction: column;
}

.recipe-body {
  padding: 1.25rem 0.4rem;
}

.recipe-img {
  max-height: 180px;
  width: auto;
  max-width: 100%;
  border-radius: 0.5rem;
} 

.card-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.recipe-card {
  background-color: #263238;
  border: #c20404 4px solid;
  margin-right: 5px;
}

/* media queries */
