{% extends "base.html" %}
{% block content %}
<div class="background-add-recipe">
<ul class="collapsible">
    <li>
      <div class="collapsible-header collapsible-border white-text blue-grey darken-4"><i class="fas fa-pencil-alt"></i>Recipe Name</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header collapsible-border white-text blue-grey darken-4"><i class="fas fa-utensils"></i>Ingredients</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header collapsible-border white-text blue-grey darken-4"><i class="fas fa-book"></i>Method</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header collapsible-border white-text blue-grey darken-4 "><i class="fas fa-camera"></i>Image</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
</div>
{% endblock %}