{% extends "base.html" %}
{% block content %}
<div class="home-bg">
    <div class="carousel">

        <a class="carousel-item" href="#one!"><img src="static/images/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.webp" alt="pasta bake"></a>
        <a class="carousel-item" href="#two!"><img src="static/images/butter-chicken-cf6f9e2.webp" alt="butter-chicken"></a>
        <a class="carousel-item" href="#three!"><img src="static/images/millionaires-shortbread-52587dd.webp" alt="shortbread"></a>
        <a class="carousel-item" href="#four!"><img src="static/images/gnocchi-1d16725.webp" alt="gnocchi"></a>
        <a class="carousel-item" href="#five!"><img src="static/images/thai-aea8468.webp" alt="thai green curry"></a>
        <div class="row center-align white-text home-header text-shadow">
            <h3>Welcome to Recipe BookWorm!</h3>
        </div>

    </div>
    <div>
        <div class="row center-align white-text text-shadow">
            <a href="{{url_for('get_recipes')}}"><h5>Let's get Cooking!</h5></a>
            </div>
    </div>
</div>


{% endblock%}