{% extends "base.html" %}
{% block content %}
<div class="col-12 card-group text-container text-center">
    <div class="row recipe-row">
        {% for recipe in recipes %}
            <div class="col s12 m9 l4 recipe-card">
                <div class="recipe-body center-align">
                    <a href="#" class="recipe-img">
                        <img src="{{recipe.recipe_image}}" class="recipe-img">
                    </a>
                    <h5 class="card-title white-text text-shadow">{{recipe.recipe_name}}</h5>
                </div>
               
            </div>
        {% endfor %}
    </div>
</div>
{% endblock%}

