{% extends "base.html" %}
{% block content %}
<div class="recipe-bg">
    <div class="col s12 m12 l3 row search-card-panel grey lighten-5">
        <form class="col s12 m12 l12" action="{{ url_for('search')}}" method="POST">
            <div class="row valign-wrapper center-align">
                <div class="col s12 input-field">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" minlength="3" id="query" class="validate" required>
                    <label for="query">Search recipes</label>
                </div>
                <div class="col s12 m6">
                    <a href="{{ url_for('get_recipes')}}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if recipes|length > 0 %}
    <div class="col-12 card-group text-container text-center">
        <div class="row recipe-row">
            {% for recipe in recipes %}
            <div class="col s12 m12 l4 offset-l1 recipe-card center-align">
                <div class="recipe-body">
                    {% if recipe.recipe_image %}
                    <a href="{{ url_for('full_recipes', recipe_id=recipe._id) }}" class="recipe-img">
                        <img src="{{recipe.recipe_image}}" class="recipe-img">
                    </a>
                    {% else %}
                    <a href="{{ url_for('full_recipes', recipe_id=recipe._id) }}" class="recipe-img">
                        <img src="static/images/man-with-dough.jpg" class="recipe-img">
                    </a>
                    {% endif %}
                    <a href="{{ url_for('full_recipes', recipe_id=recipe._id) }}">
                        <h5 class="card-title text-shadow">{{recipe.recipe_name}}</h5>
                    </a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endblock%}